

    <div class="content-section-c">

        <div class="container">

              <div class="col-lg-12  text-left">
                <h1 style="color:#003153">售後服務保證</h1>
                <hr class="section-heading-spacer center">
              </div>
                    
                    <div class="clearfix col-md-10 col-md-offset-1">

<h3 style="color:red">1. 保證產品品質及維修保固，業界頂尖。 </h3>
<h3>    2.  網站所售產品皆有一年保固，不必擔心買回去不會使用，及保固問題。</h3>
   
<h3>    3.  新品10天內有故障，我們將以最快速度，為您更換新品、解決問題。</h3>
<h3>    4.  網站商品所標示之價格不包含裝設（如佈線等）等費用。(套裝組合除外)</h3>
<h3>    5.  委託網站監視器代購、訂製之物品(如電腦主機、客制規格、特殊監視器材、PAL系統設備)須先支付貨款30%訂金，且委託方須放棄退貨權，產品問題皆以所適用條件做新品更換或維修方式處理。</h3>
<h3>    6.  客制化商品購買使用後不可退、換貨品。</h3>
</div>
   
<div class="col-lg-12  text-left">
                <h1 style="color:#003153">產品保固</h1>
                <hr class="section-heading-spacer center">
              </div>
<div class="clearfix col-md-10 col-md-offset-1">
<h4>1.一般保固監視器產品在正常使用情況下，自購買日起享有一年保固期內免費維修服務(運費請自行負擔)，故當您購買監視器產品後，請勿自行拆裝組件，以確保產品保固權益及日後維修服務。請提出原購買證明(如發票、出貨單據)，本公司將以該產品裝機日或購買日起，計算個一年為該產品的保固期限。自然因素損壞免收維修費，人為因素損壞可復原者酌收維修費。</h4>
<h4>2.新品保固新品購買到貨七日內若有瑕疵或損壞的情況，可於期間內聯絡並免費更換新品。超過七日則改以維修方式處理或以良品進行更換，若因產品遺失或無法寄回時，請重新購買產品，不得以維修或更換費用，作為重新購買產品之費用。</h4>
 
<h4>3.非保固範圍本產品保固條款並不包括人為或自然因素，如因人為之不當使用(例：反插、帶電插拔,泡水,摔機)、不當運輸、意外事故、濫用、誤用、未授權的組裝、維修或更改而對產品造成的任何傷害，及其他不可抗力等因素所造成的毀損或遺失等相關問題，則不在此免費保固範圍內。</h4>
          </div>
                 </div>
        
        </div>
        <!-- /.container -->

    </div>