
<div class="contact_us_img">

      <div class="row col-md-offset-6">

      <div class="col-md-6 col-md-offset-1 down-sm ">
      <h2 style="color:#d9534f">馬上維修/安裝電話</h2>
      <h2>04-22293271</h2>
      <h2>秦先生</h2>
      </div>
      </div>

  <!--    <div class="row col-md-offset-5">
      <div class="col-md-1    down-40 ">
      <%= image_tag("company.png",width: '130px',height: '130px') %>
      </div>
      <div class="col-md-4 down-sm">
        <div class="col-md-offset-5">
        <h2 style="color:#428bca">公司地址</h2>
        <h2 >XXXXXXXXXXXXXXXXX</h2>
        </div>
      </div>
      </div>  -->


</div>