


    <div class="content-section-c">

        <div class="container">

              <div class="col-lg-12  text-left">
                <h1 style="color:#003153">服務項目</h1>
                <hr class="section-heading-spacer center">
              </div>
                    
                    <div class="clearfix col-md-10 col-md-offset-1">
                   <h2 style="color:red">1.客製化針孔(隱密性高，可安置在各式硬體)</h2>
                   <h2 style="color:red">2.客製化偽裝監視器(跟市面上的不同，我們可以針對客戶需求，安裝在任何場所)</h2>
                   <h2 style="color:black">3.監控主機</h2>
                   <p>4路遠端監控主機、8路遠端監控主機、16路遠端監控主機</p>
                   <h2 style="color:black">4.數位監控卡</h2>
                   <p>4路影像擷取卡、8路影像擷取卡、16路影像擷取卡</p>
                   <h2 style="color:black">5.監視攝影機</h2>
                   <p>紅外線攝影機、半球型攝影機、標準型攝影機、動態攝影機、網路攝影機、車牌辨識攝影機、偽裝型攝影機、其它類型攝影</p>
                   <h2 style="color:black">6.監視器週邊配備</h2>
                   <p>視頻分配器4Port 8ort、分割器、放大器、混頻器  彩色監視器、專用LCD、訊號轉換、防護罩、特殊防護罩、支架、  巡轉台、控制器、偽裝嚇阻監視攝影機、監視器專用麥克風、  DVD備份錄放影機、監視器投光設備、紅外線、感應燈、  警報喇叭、行動監視器用蓄電池、網路影像伺服器、營幕、  攝影專用濾波器、監視攝影機專用變壓器、切換器、  影像分割器、視頻放大器、攝影機鏡頭、支架、防護罩、  迴轉台、紅外線感應探照燈、紅外線偵測器</p>
                   <h2 style="color:black">7.監視器線材及配件─各式轉接頭</h2>
                   <h2 style="color:black">8.避雷型網路線影像傳輸器</h2>
                   <p>BNC.防水型網路線影像傳器-F</p>
                   <h2 style="color:black">9.網路線影像傳輸器</h2>
                    </div>        
                 </div>

        </div>
        <!-- /.container -->

    </div>